// COLORS
$color-white: #d6d8d8;
$color-black: #0B0F14;
$color-light-gray: #A5A4A5;
$color-md-gray: #5D6167;
$color-dark-gray: #2F2F33;
$color-primary-red: #CB1F3F;
$color-primary-blue: #4DB3E6;

// FONTS
$font-header: 'Work Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;

// MOBILE SIZES
$mobile-size-sm: 1.4rem;
$mobile-size-md: 1.8rem;
$mobile-size-lg: 2.2rem;
$mobile-size-xlg: 2.6rem;

// DESKTOP SIZES
$desktop-size-sm: 1.6rem;
$desktop-size-md: 2.4rem;
$desktop-size-lg: 3.2rem;
$desktop-size-xlg: 4rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: .5rem;