// COLORS
$color-white: #d6d8d8;
$color-black: #0B0F14;
$color-light-gray: #A5A4A5;
$color-md-gray: #5D6167;
$color-dark-gray: #2F2F33;
$color-primary-red: #CB1F3F;
$color-primary-blue: #4DB3E6;

// FONTS
$font-header: 'Work Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;