.navbar {
	height: 10vh;
	
	&.bg-dark {
		--bs-bg-opacity: 0;
		background-color: $color-dark-gray;
	}

	&-brand img {
		margin-right: 1rem;
	}
}

@media (min-width: 768px) {
	.navbar__display-toggle {
		display: none;
	}
}