.contact-btn {
	background-color: $color-white;
	border-radius: 5rem;
	color: black;
	height: 8rem;
	padding-top: 1.5rem;
	position: fixed;
	top: 85vh;
	text-align: center;
	left: 75vw;
	width: 8rem;

	&__img {
		margin-bottom: .5rem;
	}

	&:hover {
		background-color: $color-primary-blue;
	}
}