.contact-btn {
	background-color: $color-white;
	border-radius: 5rem;
	color: black;
	height: 7rem;
	padding-top: 1rem;
	position: fixed;
	top: 85vh;
	text-align: center;
	left: 75vw;
	width: 7rem;

	&__img {
		margin-bottom: .5rem;
	}
}


		