.navbar {

	&-expand-md,
	&-collapse {
		justify-content: flex-end;
	}

	&.bg-dark {
		--bs-bg-opacity: 1;
		background-color: black !important;
	}
	
	&-brand__icon {
		height: auto;
		margin-right: $mobile-size-sm;
		width: 6rem;
	}

	&-collapse {
		--bs-bg-opacity: .75 !important;
		background-color: black;
	}
}

@media (min-width: 768px) {
	.navbar {

		&-brand__icon {
			height: auto;
			margin-right: $desktop-size-sm;
			width: 8.5rem;
		}

		&-expand-md	&-nav .nav-link {
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}
}