.navbar {

	&.bg-dark {
		--bs-bg-opacity: 1;
		background-color: black !important;
	}

	&-brand img {
		margin-right: $mobile-size-sm;
	}

	&-collapse {
		--bs-bg-opacity: .75 !important;
		background-color: black;
	}
}

@media (min-width: 768px) {
	.navbar__display-toggle--mobile {
		display: none;
	}
}