* ,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
	background-color: black;
  box-sizing: border-box;
}

li {
	list-style-type: none;
}

img {
	max-height: 70vh;
}

.btn-primary {
	background-color: $color-primary-blue;
	border-color: $color-primary-blue;
	font-size: $mobile-size-md;
	font-weight: 600;
}

.row {
	align-items: center;

	&--animations {
		align-items: flex-start;
	}
}

@media (min-width: 768px) {
	.btn-primary {
		font-size: $desktop-size-sm;
	}
}