* ,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
	background-color: black;
  box-sizing: border-box;
}

li {
	list-style-type: none;
}

hr {
  background: none;
  border: none;
  border-bottom: .2rem solid $color-white;
  margin: 2rem auto;
  width: 65%;
}

.btn-primary {
	background-color: $color-primary-blue;
	border-color: $color-primary-blue;
	font-size: $mobile-size-md;
	font-weight: 600;
}