a {
	color: $color-white;
	text-decoration: none;
	&:hover {
		color: $color-primary-red;
	}
}

body {
	color: $color-white;
	font-family: $font-body;
	font-size: $mobile-size-sm;
}

h1,
h2 {
	font-family: $font-header;
	font-weight: 600;
}

h1 {
	color: $color-primary-blue;
	font-size: $mobile-size-xlg;
}

h2 {
	font-size: $mobile-size-lg;
}

h3 {
	font-size: $mobile-size-md;
	font-weight: 600;
}

h4 {
	font-size: $mobile-size-sm;
	font-weight: 600;
}

.navbar {
	font-family: $font-header;

	&__brand-title {
		color: $color-white;
		font-size: $mobile-size-md;
	}
}

.section-end__link {
	color: $color-primary-blue;
	margin-bottom: $mobile-size-xlg;
}