a {
	color: $color-white;
	text-decoration: none;
	&:hover {
		color: $color-primary-red;
	}
}

body {
	color: $color-white;
	font-family: $font-body;
	font-size: $mobile-size-sm;
}

h1,
h2 {
	font-family: $font-header;
	font-weight: 600;
}

h1 {
	color: $color-primary-blue;
	font-size: $mobile-size-xlg;
}

h2 {
	font-size: $mobile-size-lg;
}

h3 {
	font-size: $mobile-size-md;
	font-weight: 400;
}

h4 {
	font-size: $mobile-size-sm;
	font-weight: 600;
}

.navbar {
	font-family: $font-header;

	&-dark &-nav .nav-link {
		color: rgba($color-white, .55);

		&.active {
			color: $color-white;
		}
	}

	&__brand-title {
		color: $color-primary-blue;
		font-size: $mobile-size-md;
		font-weight: 600;
	}
}

.section-end__link {
	color: $color-primary-blue;
	margin-bottom: $mobile-size-xlg;

	&--last {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	body {
		font-size: $desktop-size-sm;
	}

	h1 {
		font-size: $desktop-size-xlg;
	}

	h2 {
		font-size: $desktop-size-lg;
	}

	h3 {
		font-size: $desktop-size-md;
	}

	h4 {
		font-size: $desktop-size-sm;
	}

	.navbar {

		&__brand-title {
			font-size: $desktop-size-md;
		}
	}

	.section-end__link {
		margin-bottom: $desktop-size-xlg;
	}
}