.contact {
	&__container {
		width: 80%;

		@include center-in-container;
	}

	&__icon {
		color: $color-primary-blue;
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 8rem;
	}

	&__link {
		color: black;
	}
}