@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  90% {
    transform: translateX(-0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  90% {
    transform: translateX(-0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  box-sizing: border-box; }

li {
  list-style-type: none; }

hr {
  background: none;
  border: none;
  border-bottom: 0.2rem solid #d6d8d8;
  margin: 2rem auto;
  width: 65%; }

img {
  max-height: 70vh; }

.btn-primary {
  background-color: #4DB3E6;
  border-color: #4DB3E6;
  font-size: 1.8rem;
  font-weight: 600; }

a {
  color: #d6d8d8;
  text-decoration: none; }
  a:hover {
    color: #CB1F3F; }

body {
  color: #d6d8d8;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

h1,
h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600; }

h1 {
  color: #4DB3E6;
  font-size: 2.6rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem;
  font-weight: 600; }

h4 {
  font-size: 1.4rem;
  font-weight: 600; }

.navbar {
  font-family: "Work Sans", sans-serif; }
  .navbar__brand-title {
    color: #4DB3E6;
    font-size: 1.8rem;
    font-weight: 600; }

.section-end__link {
  color: #4DB3E6;
  margin-bottom: 2.6rem; }
  .section-end__link--last {
    margin-bottom: 0; }

.postion-relative {
  position: relative; }

.text--blue {
  color: #4DB3E6; }

.contact-btn {
  background-color: #d6d8d8;
  border-radius: 5rem;
  color: black;
  height: 8rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 85vh;
  text-align: center;
  left: 75vw;
  width: 8rem;
  z-index: 3; }
  .contact-btn__img {
    margin-bottom: .5rem; }
  .contact-btn:hover {
    background-color: #4DB3E6; }

.navbar.bg-dark {
  --bs-bg-opacity: 1;
  background-color: black !important; }

.navbar-brand img {
  margin-right: 1.4rem; }

.navbar-collapse {
  --bs-bg-opacity: .75 !important;
  background-color: black; }

@media (min-width: 768px) {
  .navbar__display-toggle--mobile {
    display: none; } }

section {
  height: 100vh;
  padding: .5rem; }
  section:first-of-type {
    height: 88vh; }

.contact__container {
  width: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.contact__icon {
  color: #4DB3E6;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 8rem; }

.contact__link {
  color: black; }

#about .row {
  margin-top: 3rem; }

.about__img-container {
  position: relative;
  height: 40vh; }

.about__img {
  display: block;
  margin: 0 auto;
  max-width: 18rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }
