@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  90% {
    transform: translateX(-0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  90% {
    transform: translateX(-0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  box-sizing: border-box; }

li {
  list-style-type: none; }

img {
  max-height: 70vh; }

.btn-primary {
  background-color: #4DB3E6;
  border-color: #4DB3E6;
  font-size: 1.8rem;
  font-weight: 600; }

.row {
  align-items: center; }
  .row--animations {
    align-items: flex-start; }

@media (min-width: 768px) {
  .btn-primary {
    font-size: 1.6rem; } }

a {
  color: #d6d8d8;
  text-decoration: none; }
  a:hover {
    color: #CB1F3F; }

body {
  color: #d6d8d8;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

h1,
h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600; }

h1 {
  color: #4DB3E6;
  font-size: 2.6rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem;
  font-weight: 400; }

h4 {
  font-size: 1.4rem;
  font-weight: 600; }

h5 {
  font-size: 1.4rem;
  font-weight: 600; }

.navbar {
  font-family: "Work Sans", sans-serif; }
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(214, 216, 216, 0.55); }
    .navbar-dark .navbar-nav .nav-link.active {
      color: #d6d8d8; }
  .navbar__brand-title {
    color: #4DB3E6;
    font-size: 1.8rem;
    font-weight: 600; }

.section-end__link {
  display: block;
  color: #4DB3E6;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2.6rem; }
  .section-end__link--last {
    margin-bottom: 0; }

@media (min-width: 768px) {
  body {
    font-size: 1.6rem; }
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3.2rem; }
  h3 {
    font-size: 2.4rem; }
  h4 {
    font-size: 1.6rem; }
  h5 {
    font-size: 1.6rem;
    font-weight: 600; }
  .navbar__brand-title {
    font-size: 2.4rem; }
  .section-end__link {
    font-size: 2.4rem;
    margin-bottom: 4rem; } }

.postion-relative {
  position: relative; }

.text--blue {
  color: #4DB3E6; }

.block {
  display: block; }

.carousel-item {
  margin-right: 0;
  text-align: center;
  width: auto; }
  .carousel-item img {
    max-width: 100%; }
  .carousel-item a {
    color: #2F2F33; }
  .carousel-item a:hover {
    color: #CB1F3F; }

.carousel-inner {
  display: flex !important;
  justify-content: center;
  overflow: visible; }

.carousel-control-icon-bg {
  background-color: white;
  border-radius: 3rem;
  padding: .7rem 1rem; }

.carousel-caption {
  background-color: white;
  border-radius: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  bottom: -5%;
  transform: translateY(100%); }

.contact-btn {
  background-color: #d6d8d8;
  border-radius: 5rem;
  color: black;
  height: 8rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 85vh;
  text-align: center;
  left: 75vw;
  width: 8rem;
  z-index: 3; }
  .contact-btn__img {
    margin-bottom: .5rem; }
  .contact-btn:hover {
    background-color: #CB1F3F; }

.navbar-expand-md, .navbar-collapse {
  justify-content: flex-end; }

.navbar.bg-dark {
  --bs-bg-opacity: 1;
  background-color: black !important; }

.navbar-brand__icon {
  height: auto;
  margin-right: 1.4rem;
  width: 6rem; }

.navbar-collapse {
  --bs-bg-opacity: .75 !important;
  background-color: black; }

@media (min-width: 768px) {
  .navbar-brand__icon {
    height: auto;
    margin-right: 1.6rem;
    width: 8.5rem; }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; } }

section {
  height: 100vh;
  padding: .5rem; }
  section:first-of-type {
    height: 88vh; }

.contact__container {
  width: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.contact__icon {
  color: #4DB3E6;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 8rem; }

.contact__link {
  color: black; }

#about {
  display: flex;
  align-items: center; }

.about__img-container {
  position: relative;
  height: 40vh; }

.about__img {
  display: block;
  margin: 0 auto;
  max-width: 18rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

@media (min-width: 768px) {
  .about__img {
    max-width: 35rem; } }

@media (min-width: 1100px) {
  .about__img {
    max-width: 40rem; } }
